#profilePicture {

    border-radius: 30%;
    width: 45%;
    height: auto;
    margin-top: 5px;



}

#profilePictureDiv {


    margin-bottom: 20px;




}


#rightWindowMain {


    width: 73%;
    height: 1500px;

    display: inline-block;
    background-color: rgb(248, 245, 255);
    overflow: hidden;
    box-shadow: 5px 5px 6px;
    border-radius: 10px;
    color: rgb(0, 0, 0);;







}

#leftWindowMain {


    width: 26%;
    height: 1500px;
    display: inline-block;
    text-align: center;
    background-color: rgb(153, 132, 186);
   overflow: hidden;




}

body {



    background-color: rgb(153, 132, 186);




}

#teniSedrakyan {

    font-size: 45px;
    text-align: center;


}




#mailSymbol {

    width: 25px;




}

table {

    text-align: left;
    font-size: large;
    color: rgb(248, 245, 255);


}

table th {

    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}



#workExperianceMainDiv{

display: inline-block;
width: 47%;
padding-left: 20px;
border-right: 2px;
border-right-style: groove;


}

#educationMainDiv{

display: inline-block;
width: 44%;
padding-left: 20px;
    transform:translate(0%, 25%);



}


#personalProjectsMainDiv{

  
    width: 50%;
    padding-left: 20px;
    margin-top: 50px;
    margin-left: auto;
  margin-right: auto;
  
    

}

